 <!-- =============== Start of Page Header 1 Section =============== -->
 <section class="page-header">
  <div class="container">

      <!-- Start of Page Title -->
      <div class="row">
          <div class="col-md-12">
              <h2>post a job</h2>
          </div>
      </div>
      <!-- End of Page Title -->

      <!-- Start of Breadcrumb -->
      <div class="row">
          <div class="col-md-12">
              <ul class="breadcrumb">
                  <li><a routerLink="/">home</a></li>
                  <li class="active">for employers</li>
              </ul>
          </div>
      </div>
      <!-- End of Breadcrumb -->

  </div>
</section>
<!-- =============== End of Page Header 1 Section =============== -->





<!-- ===== Start of Main Wrapper Section ===== -->
<div class="form-section">

  <div class="second-header">

        <div class="card second-header">
          <div class="card-header account-question col-md-12">
            <h2 class="account">Have an account?</h2>
            If you don’t have an account you can create one on the form below by entering your email address.
            Your account details will be confirmed via email. <a class="btn btn-blue btn-effect" routerLink="/"> Sign In</a>
          </div>
        </div>
   </div>





      <!-- Start of Post Job Form -->
      <hr>
      <form class="main-form">


      </form>
      <!-- End of Post Job Form -->


</div>
<!-- ===== End of Main Wrapper Section ===== -->


<ngx-spinner></ngx-spinner>

