<app-slider></app-slider>
 <!-- ===== Start of Main Search Section ===== -->
 <section class="main overlay-black">


  <!-- Start of Wrapper -->
  <div class="container wrapper">
    <div class="">
      <div class="">
        <h3 class="text-center text-white ">Your career starts now</h3>
      </div>

    </div>


      <!-- Start of Form -->
      <form class="job-search-form row pt10" action="#" method="get">

          <!-- Start of keywords input -->
          <div class="col-md-3 col-sm-12 search-keywords">
              <label for="search-keywords">Keywords</label>
              <input type="text" name="search-keywords" id="search-keywords" placeholder="Keywords">
          </div>

          <!-- Start of category input -->
          <div class="col-md-3 col-sm-12 search-categories">
              <label for="search-categories">Category</label>
              <select name="search-categories" class="selectpicker" id="search-categories" data-live-search="true" title="Any Category" data-size="5" data-container="body">
                <option value="1">Secondary full-time</option>
                <option value="1">Secondary part-time</option>
                <option value="2">Primary full-time</option>
                <option value="2">Primary part-time</option>
                <option value="3">Nursery</option>
                <option value="3">Home Tutor</option>

              </select>
          </div>

          <!-- Start of location input -->
          <div class="col-md-4 col-sm-12 search-location">
              <label for="search-location">Location</label>
              <input type="text" name="search-location" id="search-location" placeholder="Location">
          </div>

          <!-- Start of submit input -->
          <div class="col-md-2 col-sm-12 search-submit">
              <button type="submit" class="btn btn-blue btn-effect btn-large"><i class="fa fa-search"></i>search</button>
          </div>

      </form>
      <!-- End of Form -->

      <div class="extra-info pt20">
          <span class="text-left text-white"><b>36</b> job offers for <b>you.</b></span>
          <a href="#" class="capitalize pull-right text-white">advanced search</a>
      </div>

  </div>
  <!-- End of Wrapper -->

</section>
<!-- ===== End of Main Search Section ===== -->





<!-- ===== Start of Popular Categories Section ===== -->
<section class="ptb80" id="categories">
  <div class="container">

      <div class="section-title">
          <h2>popular categories</h2>
      </div>

      <div class="row nomargin">
          <!-- Start of Category div -->
          <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
              <div class="category ptb30">

                  <!-- Icon -->
                  <div class="category-icon">
                      <i class="fa fa-line-chart"></i>
                  </div>

                  <!-- Category Info - Title -->
                  <div class="category-info pt30">
                      <a href="#">Mathematics</a>
                      <p>(9 open positions)</p>
                  </div>

                  <!-- Category Description -->
                  <div class="category-descr">
                    <span>We have qualified and passionate Mathematicians. You can be one of them. <br> <h1>Get Trained Today!!</h1> </span>
                  </div>

              </div>
          </div>
          <!-- End of Category div -->

          <!-- Start of Category div -->
          <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
              <div class="category ptb30">

                  <!-- Icon -->
                  <div class="category-icon">
                      <i class="fa fa-university"></i>
                  </div>

                  <!-- Category Info - Title -->
                  <div class="category-info pt30">
                      <a href="#">Physics</a>
                      <p>(9 open positions)</p>
                  </div>

                  <!-- Category Description -->
                  <div class="category-descr">
                    <span>We have world class, qualified and passionate physics  teachers. You can be one of them. <br> <h1>Get Trained Today!!</h1> </span>
                  </div>

              </div>
          </div>
          <!-- End of Category div -->

          <!-- Start of Category div -->
          <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
              <div class="category ptb30">

                  <!-- Icon -->
                  <div class="category-icon">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                  </div>

                  <!-- Category Info - Title -->
                  <div class="category-info pt30">
                      <a href="#">Biology</a>
                      <p>(36 open positions)</p>
                  </div>

                  <!-- Category Description -->
                  <div class="category-descr">
                      <span>We have world class and qualified biology teachers. You can be one of them. <br> <h1>Get Trained Today!!</h1> </span>
                  </div>

              </div>
          </div>
          <!-- End of Category div -->

          <!-- Start of Category div -->
          <div class="col-md-3 col-sm-6 col-xs-12 cat-wrapper">
              <div class="category ptb30">

                  <!-- Icon -->
                  <div class="category-icon">
                      <i class="fa fa-female"></i>
                  </div>

                  <!-- Category Info - Title -->
                  <div class="category-info pt30">
                      <a href="#">Nursery</a>
                      <p>(6 open positions)</p>
                  </div>

                  <!-- Category Description -->
                  <div class="category-descr">
                      <span>Hire friendly and reliable turtors for your young, litle and cute ones. <br><h1>You Can Also Get Trained</h1> </span>
                  </div>

              </div>
          </div>
          <!-- End of Category div -->
      </div>



      <div class="col-md-12 mt60 text-center">
          <a href="/categories" class="btn btn-blue btn-effect nomargin">browse all</a>
      </div>

  </div>
</section>
<!-- ===== End of Popular Categories Section ===== -->





<!-- ===== Start of Signup & Video Section ===== -->
<section id="signup-video">
  <div class="container-fluid">
      <div class="row">

          <!-- Start of Signup Column -->
          <div class="col-md-6 signup-sec ptb80 text-center">

              <div class="col-md-8 col-md-offset-2">

                  <!-- Section Title -->
                  <div class="section-title">
                      <h2 class="text-white">Start your Career today by signing up now!</h2>
                  </div>

                  <p class="text-white mt20">We offer a seamless Employer-teacher relationship. Training for teachers to get qualified and upgrade existing skills still available.</p>
                  <a href="register.html" class="btn btn-purple btn-effect mt80">signup now!</a>

                  <!-- Arrow Icon -->
                  <img src="/assets/images/icons/arrow.svg" alt="" class="signup-arrow visible-lg-block">
              </div>

              <!-- Signup icon -->
              <img src="/assets/images/icons/icon1.svg" alt="" class="signup-icon visible-lg-block">
          </div>
          <!-- End of Signup Column -->


          <!-- Start of Video Column -->
          <div class="col-md-6 video-sec overlay-gradient">
              <img style="width:100%; height:70rem" src="/assets/images/img/home-bottom.jpg" alt="" srcset="">
          </div>
          <!-- End of Video Column -->

      </div>
  </div>
</section>
<!-- ===== End of Signup & Video Section ===== -->










<!-- ===== Start of CountUp Section ===== -->
<section class="ptb40" id="countup">
  <div class="container">

      <!-- 1st Count up item -->
      <div class="col-md-3 col-sm-3 col-xs-12">
          <span class="counter" data-from="0" data-to="743"></span>
          <h4>members</h4>
      </div>

      <!-- 2nd Count up item -->
      <div class="col-md-3 col-sm-3 col-xs-12">
          <span class="counter" data-from="0" data-to="579"></span>
          <h4>jobs</h4>
      </div>

      <!-- 3rd Count up item -->
      <div class="col-md-3 col-sm-3 col-xs-12">
          <span class="counter" data-from="0" data-to="251"></span>
          <h4>resumes</h4>
      </div>

      <!-- 4th Count up item -->
      <div class="col-md-3 col-sm-3 col-xs-12">
          <span class="counter" data-from="0" data-to="330"></span>
          <h4>companies</h4>
      </div>

  </div>
</section>
<!-- ===== End of CountUp Section ===== -->












<div class="designs"></div>
