  <!-- =============== Start of Page Header 1 Section =============== -->
  <section class="page-header">
    <div class="container">

        <!-- Start of Page Title -->
        <div class="row">
            <div class="col-md-12">
                <h2>search jobs</h2>
            </div>
        </div>
        <!-- End of Page Title -->

        <!-- Start of Breadcrumb -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a routerLink="/">home</a></li>
                    <li class="active">for canditates</li>
                </ul>
            </div>
        </div>
        <!-- End of Breadcrumb -->

    </div>
</section>
<!-- =============== End of Page Header 1 Section =============== -->





 <!-- ===== Start of Main Wrapper Section ===== -->
 <section class="search-jobs ptb80">
  <div class="container">

      <!-- Start of Form -->
      <form class="job-search-form row" action="#" method="get">


      </form>
      <!-- End of Form -->


      <!-- Start of Row -->
      <div class="row mt60">

          <!-- Start of Job Post Main -->
          <div class="col-md-12 job-post-main">
              <h4>
                <!-- message for number of searches found from db  -->
              </h4>

              <!-- Start of Job Post Wrapper -->
              <div class="job-post-wrapper mt20">

                  <!-- ===== Start of Single Job Post 1 ===== -->
                  <div class="single-job-post row nomargin">
                      <!-- Job Company -->
                      <div class="col-md-2 col-xs-3 nopadding">
                          <div class="job-company">
                              <a href="">

                              </a>
                          </div>
                      </div>

                      <!-- Job Title & Info -->
                      <div class="col-md-8 col-xs-6 ptb20">
                          <div class="job-title">
                              <a routerLink=""></a>
                          </div>

                          <div class="job-info">
                              <span class="company"><i class="fa fa-building-o"></i></span>
                              <span class="location"><i class="fa fa-map-marker"></i></span>
                          </div>
                      </div>

                      <!-- Job Category -->
                      <div class="col-md-2 col-xs-3 ptb30">
                          <div class="job-category">
                              <a href="javascript:void(0)" class="btn btn-green btn-small btn-effect">full time</a>
                          </div>
                      </div>
                  </div>
                  <!-- ===== End of Single Job Post 1 ===== -->

              </div>
              <!-- End of Job Post Wrapper -->

              <!-- Start of Pagination -->
              <div class="col-md-12 mt10">
                  <ul class="pagination list-inline text-center">
                      <li class="active"><a href="javascript:void(0)">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">Next</a></li>
                  </ul>
              </div>
              <!-- End of Pagination -->

          </div>
          <!-- End of Job Post Main -->

      </div>
      <!-- End of Row -->

  </div>
</section>
<!-- ===== End of Main Wrapper Section ===== -->





<!-- ===== Start of Get Started Section ===== -->
<section class="get-started ptb40">
    <div class="container">
        <div class="row ">

            <!-- Column -->
            <div class="col-md-10 col-sm-9 col-xs-12">
                <h3 class="text-white">Join over 10,000 teachers  .</h3>
            </div>

            <!-- Column -->
            <div class="col-md-2 col-sm-3 col-xs-12">
                <a routerLink="" class="btn btn-blue btn-effect">get started now</a>
            </div>

        </div>
    </div>
</section>
<!-- ===== End of Get Started Section ===== -->

<ngx-spinner></ngx-spinner>
