<!-- ===== Start of About Us Section ===== -->
<section class="about-us ptb80">
  <div class="container">
      <div class="row">

          <!-- Start of First Column -->
          <div class="col-md-6 col-xs-12">
              <h3 class="text-blue">About Trained Teachers</h3>
              <p class="pt30">
                Trained Teachers is a Nigerian based Teachers recruiting
                firm that helps aspiring, new and existing Teachers within and outside
                 Nigeria to become trained and sort after employees in the Education sector.
              </p>

          </div>
          <!-- End of First Column -->

          <!-- Start of Second Column -->
          <div class="col-md-6 col-xs-12 about-video">
              <!-- Vimeo Video -->
              <div class="embed-responsive embed-responsive-16by9">
        <img style="width:100%;height:auto;margin:auto; text-align: center; align-items: center;justify-content: center;" src="/assets/images/img/about-us.jpg" alt="about-us image" srcset="">
              </div>
          </div>
          <!-- End of Second Column -->

      </div>
  </div>
</section>
<!-- ===== End of About Us Section ===== -->





<!-- ===== Start of About Process Section ===== -->
<section class="about-process ptb80">
  <div class="container">
      <div class="row">

          <div class="col-md-12">
              <div class="section-title">
                  <h2>how it works</h2>
              </div>
          </div>

          <!-- Start of First Column -->
          <div class="col-md-4 col-xs-12 text-center">
              <div class="process-icon">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
              </div>

              <h5 class="uppercase text-blue pt40">step 1</h5>
              <h3 class="pb20">Register</h3>
              <p>Start by creating an account on our awesome platform</p>
          </div>
          <!-- End of First Column -->


          <!-- Start of Second Column -->
          <div class="col-md-4 col-xs-12 text-center">
              <div class="process-icon">
                  <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
              </div>

              <h5 class="uppercase text-blue pt40">step 2</h5>
              <h3 class="pb20">Submit Resume</h3>
              <p>Fill out our forms and submit your resume right away</p>
          </div>
          <!-- End of Second Column -->


          <!-- Start of Third Column -->
          <div class="col-md-4 col-xs-12 text-center">
              <div class="process-icon">
                  <i class="fa fa-money" aria-hidden="true"></i>
              </div>

              <h5 class="uppercase text-blue pt40">step 3</h5>
              <h3 class="pb20">Start Working</h3>
              <p>Start your new career by working with one of the most successful companies</p>
          </div>
          <!-- End of Third Column -->

      </div>
  </div>
</section>
<!-- ===== End of About Process Section ===== -->





<!-- ===== Start of FAQ Section ===== -->
<section class="ptb80" id="faq-page">
  <div class="container">
      <div class="row">

          <div class="col-md-12">
              <div class="section-title">
                  <h1>frequently asked questions</h1>
              </div>
          </div>

          <!-- Start of Topic 1 -->
          <div class="col-md-12 topic">
              <!-- Question -->
              <div class="open">
                  <h2 class="question" data-search-term="1. How does Trained Teachers work?">1. How does Trained Teachers work?</h2>
                  <i class="fa fa-angle-down hidden-xs"></i>
              </div>

              <!-- Answer -->
              <p class="answer" style="display: none;"></p>
          </div>
          <!-- End of Topic 1 -->

          <!-- Start of Topic 2 -->
          <div class="col-md-12 topic">
              <!-- Question -->
              <div class="open">
                  <h2 class="question" data-search-term="2. How can I register?">2. How can I register?</h2>
                  <i class="fa fa-angle-down hidden-xs"></i>
              </div>

              <!-- Answer -->
              <p class="answer" style="display: none;"></p>
          </div>
          <!-- End of Topic 2 -->

          <!-- Start of Topic 3 -->
          <div class="col-md-12 topic">
              <!-- Question -->
              <div class="open">
                  <h2 class="question" data-search-term="3. How can I submit my Resume?">3. How can I submit my Resume?</h2>
                  <i class="fa fa-angle-down hidden-xs"></i>
              </div>

              <!-- Answer -->
              <p class="answer" style="display: none;"></p>
          </div>
          <!-- End of Topic 3 -->

          <!-- Start of Topic 4 -->
          <div class="col-md-12 topic">
              <!-- Question -->
              <div class="open">
                  <h2 class="question" data-search-term="4. 4. How can I post a Job?">4. How can I post a Job?</h2>
                  <i class="fa fa-angle-down hidden-xs"></i>
              </div>

              <!-- Answer -->
              <p class="answer" style="display: none;"></p>
          </div>
          <!-- End of Topic 4 -->

          <!-- Start of Topic 5 -->
          <div class="col-md-12 topic">
              <!-- Question -->
              <div class="open">
                  <h2 class="question" data-search-term="5. How can I get trained?">5. How can I get trained?</h2>
                  <i class="fa fa-angle-down hidden-xs"></i>
              </div>

              <!-- Answer -->
              <p class="answer" style="display: none;"></p>
          </div>
          <!-- End of Topic 5 -->

      </div>
  </div>
</section>
<!-- ===== End of FAQ Section ===== -->
<ngx-spinner></ngx-spinner>
