  <!-- ===== Main Section ===== -->
  <div class="coming-soon">

    <div class="container coming-main">
        <div class="co-md-12 text-center text-white">

            <h2>Coming Soon</h2>
            <h3>To change your Career!</h3>
            <a class="logo mt60" routerLink='/' ><img src="/assets/images/logo-white.svg" alt="logo"></a>
        </div>

        <!-- Start of Countdown Row -->
        <div class="row countdown mt80">
            <ul class="col-md-12">
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <span class="days"></span>
                    <p>Day</p>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <span class="hours"></span>
                    <p>Hours</p>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <span class="minutes"></span>
                    <p>Minutes</p>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-12">
                    <span class="seconds"></span>
                    <p>Seconds</p>
                </li>
            </ul>
        </div>
        <!-- End of Countdown Row -->



        <!-- Start of Subscribe Row -->
        <div class="row mt100">
            <div class="col-md-12">

                <!-- Start of Subscription Form -->
                <form action="#" class="form-inline mailchimp" novalidate>

                    <!-- Form -->
                    <div class="form-group">
                        <input type="email" name="EMAIL" class="form-control" id="mc-email" placeholder="Your Email" autocomplete="off">
                        <label for="mc-email"></label>
                        <button type="submit" class="btn btn-blue btn-effect">Submit</button>

                    </div>

                </form>
                <!-- End of Subscription Form -->

            </div>
        </div>
        <!-- End of Subscribe Row -->



        <!-- Start Buttons Row -->
        <div class="row mt20">
            <div class="col-md-12 cta mtb60 text-center">
                <a routerLink='/' class="btn btn-blue btn-effect">Back home</a>
            </div>
        </div>
        <!-- End of Buttons Row -->

    </div>
</div>
<!-- ===== End of Main Section ===== -->
